div.sticky {
  background: #2c3e50;
  color: #ecf0f1;
  position: fixed;
  height: 100%;
}
div.nav-left {
  left: 0;
  width: 240px;
  padding: 0;
  overflow: hidden;
}
div.nav-left > div.brand {
  padding: 2px 20px;
  font-size: 2em;
  font-weight: bold;
  height: 58px;
  position: relative;
}
div.nav-left > div.brand > div.brand a {
  position: absolute;
  bottom: 5px;
  color: #ecf0f1;
  text-decoration: none;
}
div.nav-left > div.brand-icon {
  display: none;
}
div.nav-left > div.brand-icon > div.brand-icon > i.fa {
  font-size: 2em;
  width: 50px;
  padding: 15px 0;
}
/* active badges */
div.nav-left a.list-group-item.active > .badge,
.nav-pills > .active > a > .badge {
  color: #ecf0f1;
  background-color: #e74c3c;
}
div.nav-left ul.nav-pills > li > a > span.badge.pull-right:not(:empty) { display:inline-block;margin-top: 4px; }
body.nav-left-collapse > header#nav > div.nav-left {
  width: 50px;
}
body.nav-left-collapse > header#nav > div.nav-left > div.nav-left-content > ul.nav > li > a > i.fa {
  font-size: 1.25em;
  margin-left: -7px;
  margin-right: 4px;
}
body.nav-left-collapse > header#nav > div.nav-left > div.brand {
  display: none;
}
body.nav-left-collapse > header#nav > div.nav-left > div.brand-icon {
  display: block;
}
body.nav-left-collapse > header#nav > div.nav-left > div.nav-left-content > ul.nav > li > a span.item {
  display: none;
}
body.nav-left-collapse > header#nav > div.nav-left > div.nav-left-content > ul.nav > li > a span.badge {
  position: relative;
  top: -30px;
  right: -10px;
}
body.nav-left-collapse > header#nav > div.nav-left > div.nav-left-content > ul.nav > li.active > a > span.badge {
  background: #e74c3c;
}
div.nav-left-content {
  padding: 0;
  margin-bottom: 50px;
}
div.nav-left-content > ul.nav {
  margin: 0;
  padding: 0;
}
div.nav-left-content > ul.nav > li > a {
  border-radius: 0;
  background: transparent;
  color: #bdc3c7;
  font-size: 1.3em;
}
div.nav-left-content > ul.nav > li.active > a {
  background: #1c2e40;
  color: #1abc9c;
  font-size: 1.3em;
}
div#nav-content > div.navbar {
  height: 57px;
  overflow: hidden;
  border-bottom: 1px solid #ecf0f1;
  background: #fff;
  position: fixed;
  border-radius: 0;
  z-index: 7000;
  top: 0;
  left: 0;
  right: 0;
}
div#nav-content > div.navbar > div.container-fluid {
  padding: 0 10px 0 0;
}
div#nav-content > div.navbar > div.container-fluid > ul.nav > li > a {
  font-size: 1.5em;
  line-height: 57px;
  padding: 0 15px;
}
div#nav-top-actions > ul.nav > li.toggle > a:focus, div#nav-top-actions > ul.nav > li.toggle > a:hover {
  box-shadow: none;
  outline: none;
  background-color: transparent;
  color: #7f8c8d;
}
div#nav-top-actions > ul.nav > li.toggle > a {
  width: 57px;
  text-align: center;
  color: #2c3e50;
  border-right: 1px solid #ecf0f1;
  padding: 0;
  line-height: 57px;
  font-size: 1.5em;
}
div#nav-top-actions > ul.nav > li.search {
  padding-top: 11px;
  margin-left: 20px;
}
div#nav-top-actions > ul.nav > li.search > div#searchbox > input {
  border: 1px solid #ecf0f1;
}
div#nav-top-actions > ul.nav > li.search > div#searchbox > small {
  display: none;
  margin-bottom: -2em;
  margin-right: 1em;
  float: right;
}
div#nav-top-actions > ul.nav > li.search > div#searchbox.searching > small {
  display: inherit;
  position: absolute;
  right: -7em;
  top: 1.7em;
}
div#nav-top-actions > ul.nav > li.search > div#searchbox.searching > input {
  cursor: wait;
}
div#nav-content > div.navbar > div.container-fluid > div.pull-right > ul.navbar-nav > li.company {
  line-height: 57px;
  padding-right: 15px;
  color: #bdc3c7;
  padding-top: 5px;
}
.avatar {
  float: left;
  margin-right: 10px;
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
  margin-top: 5px;
}
.nav-profile-actions {
  border-left: 1px solid #ecf0f1;
  padding-left: 5px;
}
.nav-profile-actions > a {
  font-size: 1.2em;
  color: #2c3e50;
  font-weight: 500;
  border: 0;
}
.nav-profile-actions > .btn {
  border: 0;
  border-radius: 0;
  line-height: 35px;
}
.nav-profile-actions > a > span.avatar {
  border-radius: 4px;
  margin-top: -5px;
}
@media (min-width: 992px) {
  div.main-content {
    margin-left: 240px;
  }
  div#nav-content > div.navbar {
    left: 240px;
  }
  body.nav-left-collapse > div#content > div.main-content {
    margin-left: 50px !important;
  }
  body.nav-left-collapse > div#content > div.main-content > div#nav-content > div.navbar {
    left: 50px !important;
  }
  div#main-content {
    min-height: 1024px;
  }
}
