span.label[data-label=greeting] {
  background:#27ae60;
}

span.label[data-label=salutation] {
  background:#e74c3c;
}


.widget-body p.h2 { 
  text-align:left;
}

.widget {
  position: relative;
  margin-bottom: 30px;
  padding: 15px 20px;
  background: #fff;
  border-radius: 3px;
}
.widget-default {
  background:#8e44ad;
  color:#fff;
}
.widget-icon {
  opacity: .75;
  font-size: 42px;
}
.no-margin {
  margin: 0;
}
.fw-normal {
  font-weight: 400;
}
.value4 {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
}

.widget-blue {
  background:#2980b9;
  color:#fff;
}
.widget-orange {
  background:#d35400;
  color:#fff;
}